{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">个人资料：</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form method="post" action="/admin/about" class="form-horizontal">
                      <fieldset>
                        <legend style="font-size:20px">编辑个人简介：</legend>
                        <div class="control-group">
                         <textarea name="aboutme_text" class="input-xlarge textarea" placeholder="{% raw aboutme %}" style="width: 90%; height: 200px"></textarea>
                        </div>
                        <div class="muted pull-right ">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="reset" class="btn">Cancel</button>
                        </div>
                      </fieldset>
                  {% raw xsrf_form_html() %}
                  </form>
            </div>
        </div>
    </div>
</div>               
{% end %}