{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left" ><span style="font-size=18px">编辑文章</span></div>
                <div class="muted pull-right"><a href="/admin/newarticle" style="font-size=18px">新文章</a></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <fieldset>
                        <legend>
                            <div class="muted pull-left" style="color:black;font-size=20px">文章列表：</div>
                        </legend>
                        <div class="control-group" >
                        <script type="text/javascript">
                        var startindex = ({{record[1]}}-1)*10+1
                        document.write("<ol start="+startindex+">")
                        </script>
                        {% for post in posts %}
                        <li>
                            <div style="width:860px;overflow:hidden">
                            <a href="/admin/resultarticle/{{post.id}}"><b style="font-size:20px;word-wrap:break-word;">{{post.title}}</b></a></div>
                            <div>
                            <span>发布时间：{{post.published}}</span>
                            </div>
                        </li>
                        {% end %}
                        </ol>
                        {% if total_record == 1 %}
                        <div class="muted pull-right"><b>总页数：</b><a title="Total record"><b>{{total_record}}</b></a></div>
                        {% else %}
                        <div class="muted pull-right"><b>总页数：</b><a href="/admin/article/{{total_record}}" title="Total record"><b>{{total_record}}</b></a>&nbsp;&nbsp;<a href="/admin/article/{{record[0]}}"><b>上-页</b></a>&nbsp;&nbsp;<b>{{record[1]}}</b>&nbsp;&nbsp;<a href="/admin/article/{{record[2]}}"><b>下-页</b></a></div>
                        {% end %}
                        </div>                                     
                    </fieldset>

                </div>
            </div>
    </div>
</div>                
{% end %}
