{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">New article</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form method="post" action="newarticle"class="form-horizontal">
                        <fieldset>
                        <legend>Edit New</legend>
                        <div class="control-group">
                            <input name="articletitle" type="text" class="span6" id="typeahead" data-provide="typeahead" placeholder="Blog Title">
                        </div>
                        <div class="control-group">
                            <div >
                            <textarea name="articlecontent" class="input-xlarge textarea" placeholder="Blog Content ..." style="width: 880px; height: 600px"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div>
                                <select name="articleclassifyid" id="select01" class="chzn-select">
                                <option value="1">日记</option>
                                <option value="2">程序人生</option>
                                <option value="3">欣赏</option>
                                <option value="4">笔记</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <input class="input-file uniform_on" id="fileInput" type="file">
                        </div>
                        <div class="muted pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                        </fieldset>
                    {% raw xsrf_form_html() %}
                    </form>
                </div>
            </div>
        </div>
</div>                
{% end %}