{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Result</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form method="post" action="/admin/resultarticle/{{post.id}}"class="form-horizontal">
                        <fieldset>
                        <legend>Edit</legend>
                        <div class="control-group">
                            <b>BlogID: </b><input name="articleid" type="text" class="span6" id="typeahead" data-provide="typeahead" value="{{post.id}}" readonly="readonly">
                        </div>                      
                        <div class="control-group">
                            <b>&nbsp; Title: &nbsp;&nbsp;</b><input name="articletitle" type="text" class="span6" id="typeahead" data-provide="typeahead" placeholder="Blog Title" value="{{post.title}}">
                        </div>
                        <div class="control-group">
                            <textarea name="articlecontent" class="input-xlarge textarea" placeholder="Enter text ..." style="width: 880px; height: 600px">{{post.markdown}}</textarea>

                        </div>
                        <div class="control-group">
                            <select name="articleclassifyid" id="select01" class="chzn-select">
                                <option value="1">日记</option>
                                <option value="2">程序人生</option>
                                <option value="3">欣赏</option>
                                <option value="4">笔记</option>
                            </select>
                            <script type="text/javascript">
                                document.getElementById('select01').options[{{post.classifyid}}-1].selected=true;
                            </script>
                        </div>
                        <div class="muted pull-right">
                            <input type="submit" name="buttonsubmit" class="btn btn-primary" value="Submit"></input>
                            <input type="submit" name="buttondelete" class="btn btn-primary" value="Delete"></input>
                            <input type="reset" class="btn" value="Cancel"></input>
                        </div>
                        </fieldset>
                    {% raw xsrf_form_html() %}
                    </form>
                </div>
            </div>
        </div>
</div>                
{% end %}