{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">编辑文章</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form method="post" action="/admin/resultarticle/{{post.id}}"class="form-horizontal">
                        <fieldset>
                        <legend style="font-size:20px">编辑</legend>
                        <div class="control-group">
                            <input name="articleid" type="hidden" class="span6" id="typeahead" data-provide="typeahead" value="{{post.id}}" readonly="readonly">
                        </div>                      
                        <div class="control-group">
                            <b style="font-size:20px">文章标题：</b><input style="width:80%" name="articletitle" type="text" class="span6" id="typeahead" data-provide="typeahead" placeholder="Blog Title" value="{{post.title}}">
                        </div>
                        <div class="control-group">
                            <b style="font-size:20px">文章内容：</b>
                            <textarea name="articlecontent"  placeholder="Enter text ..." style="width: 90%; height: 600px">{{post.markdown}}</textarea>

                        </div>
                        <div class="control-group">
                            <select name="articleclassifyid" id="select01" class="chzn-select">
                                <option value="1">{{classify[0]}}</option>
                                <option value="2">{{classify[1]}}</option>
                                <option value="3">{{classify[2]}}</option>
                                <option value="4">{{classify[3]}}</option>
                            </select>
                            <script type="text/javascript">
                                document.getElementById('select01').options[{{post.classifyid}}-1].selected=true;
                            </script>
                        </div>
                        <div class="muted pull-right">
                            <input type="submit" name="buttonsubmit" class="btn btn-primary" value="Submit"></input>
                            <input type="submit" name="buttondelete" class="btn btn-primary" value="Delete"></input>
                            <input type="reset" class="btn" value="Cancel"></input>
                        </div>
                        </fieldset>
                    {% raw xsrf_form_html() %}
                    </form>
                </div>
            </div>
        </div>
</div>                
{% end %}