{% extends "base.html" %}
{% block body %}
<div class="span9" id="content">
    <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Result</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form method="post" action="/admin/resultarticle/{{post.id}}"class="form-horizontal">
                        <fieldset>
                        <legend>Edit</legend>
                        <div class="control-group">
                            <input name="article_id" type="text" class="span6" id="typeahead" data-provide="typeahead" value="{{post.id}}" readonly="readonly">
                        </div>                      
                        <div class="control-group">
                            <input name="article_title" type="text" class="span6" id="typeahead" data-provide="typeahead" placeholder="Blog Title" value="{{post.title}}">
                        </div>
                        <div class="control-group">
                            <textarea name="article_content" class="input-xlarge textarea" placeholder="Enter text ..." style="width: 880px; height: 600px">{{post.markdown}}</textarea>

                        </div>
                        <div class="control-group">
                            <select name="article_classify" id="select01" class="chzn-select">
                                <option>something</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="muted pull-right">
                            <input type="submit" name="buttonsubmit" class="btn btn-primary" value="Submit"></input>
                            <input type="submit" name="buttondelete" class="btn btn-primary" value="Delete"></input>
                            <input type="reset" class="btn" value="Cancel"></input>
                        </div>
                        </fieldset>
                    {% raw xsrf_form_html() %}
                    </form>
                </div>
            </div>
        </div>
</div>                
{% end %}