{% extends "base.html" %}
{% block header %}
<link href="{{static_url('css/about.css')}}" rel="stylesheet">
{% end %}

{% block body %}
<article class="aboutcon">
<h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">Home</a><a href="/" class="n2">关于我</a></h1>
<div class="about left">
  <h2>Just about me</h2>
    <ul> 
    {{ aboutme_markdown }}
    </ul>

</div>
<aside class="right">  
    <div class="about_c">
    <h2>About my blog</h2>
    <p>域  名：www.xxxxxx.com 创建于2011年01月12日 <a href="/" class="blog_link" target="_blank">注册域名</a></p>
    <p>服务器：阿里云服务器<a href="/" class="blog_link" target="_blank">购买空间</a></p>
    <p>备案号：</p>
    <p>程  序：</p>
    </div>     
</aside>
</article>
{% end %}
