{% extends "base.html" %}
{% block header %}
<link href="{{static_url('css/home.css')}}" rel="stylesheet">
{% end %}

{% block body %}
<article>
<h1 class="t_nav"><span>删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span><a href="/" class="n1">Home</a><a href="/" class="n2">行云流水</a></h1>
  <h2 class="title_tj">
    <p>&nbsp;&nbsp;最 新</p>
  </h2>
  <div class="bloglist left">
    {% for post in newestposts %}
    <h3>{{post.title if post else ""}}</h3>
    <ul>
      <p>{{post.markdown if post else "There is no blog article!!"}}</p>
      <a title="/" href="/detailed/{{post.id}}" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <p class="dateview"><span>{{post.published if post else "2004-01-01"}}</span><span>作者：yanshu</span><span>分类：[<a href="/classify/{{post.classifyid}}/1">{{post.classifyname}}</a>]</span></p>
    {% end %}
       
  </div>
  <aside class="right">
    <div class="weather"><iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe></div>
    <div class="news">
    <h3>
      <p>最新文章</p>
    </h3>
    <ul class="paih">
    {% for post in newestposts %} 
    <li><a href="/detailed/{{post.id}}" title="{{post.title}}" target="_blank">{{post.title if post else "There is no post!"}}</a></li>
    {% end %}
    </ul>
    <h3 class="ph">
      <p>点击排行</p>
    </h3>
    <ul class="paih">
      {% for post in bestposts %}
      <li><a href="/detailed/{{post.id}}" title="{{post.title}}" target="_blank">{{post.title if post else "There is no post!"}}</a></li>
      {% end %}
    </ul>
    <h3 class="links">
      <p>友情<span>链接</span></p>
    </h3>
    <ul class="website">
      <li><a href="/">个人博客</a></li>
      <li><a href="/">谢泽文个人博客</a></li>
      <li><a href="/">3DST技术网</a></li>
      <li><a href="/">思衡网络</a></li>
    </ul> 
    </div>  

</article>
{% end %}
