{% extends "base.html" %}
{% block header %}
<link href="{{static_url('css/newlist.css')}}" rel="stylesheet">
{% end %}
{% block body %}
<article class="blogs">
<h1 class="t_nav"><span>你所浪费的今天，是昨天死去的人奢望的明天；你所厌恶的现在，是未来的你回不去的曾经。</span><a href="/" class="n1">Home</a><a href="/" class="n2">生活</a></h1>
<div class="newblog left">
    {% for post in posts %}
    <h2>{{post.title}}</h2>
   <p class="dateview"><span>发布时间：{{post.published}}</span><span>作者：yanshu</span><span>分类：[<a href="/classify/{{post.classifyid}}/1">{{post.classifyname}}</a>]</span></p>
    <ul class="nlist">
      <p>{{post.markdown}}</p>
      <a title="/detailed/{{post.id}}" href="/detailed/{{post.id}}" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <div class="line"></div>
    {% end %}
    <div class="line"></div>
    <div class="blank"></div>
    {% if total_record == 1 %}
    <div class="page"><a title="Total record"><b>{{total_record}}</b></a></div>
    {% else %}
    <div class="page"><a href="/newlist/{{total_record}}" title="Total record"><b>{{total_record}}</b></a><a href="/newlist/{{record[0]}}">&lt;</a><b>{{record[1]}}</b><a href="/newlist/{{record[2]}}">&gt;</a></div>
    {% end %}
</div>
<aside class="right">
   <div class="rnav">
      <ul>
       <li class="rnav1"><a href="/classify/1/1" target="_blank">{{classify[0]}}</a></li>
       <li class="rnav2"><a href="/classify/2/1" target="_blank">{{classify[1]}}</a></li>
       <li class="rnav3"><a href="/classify/3/1" target="_blank">{{classify[2]}}</a></li>
       <li class="rnav4"><a href="/classify/4/1" target="_blank">{{classify[3]}}</a></li>
     </ul>      
    </div>
<div class="news">
<h3>
      <p>最新文章</p>
    </h3>
    <ul class="paih">
    {% for post in posts %} 
    <li><div style="width:240px;overflow:hidden"><a href="/detailed/{{post.id}}" title="{{post.title}}" target="_blank">{{post.title}}</a></div></li>
    {% end %}
    </ul>
    <h3 class="ph">
      <p>点击排行</p>
    </h3>
    <ul class="paih">
      {% for post in posts %}
      <li><div style="width:240px;overflow:hidden"><a href="/detailed/{{post.id}}" title="{{post.title}}" target="_blank">{{post.title}}</a></div></li>
      {% end %}
    </ul>
    </div>

</aside>
</article>
{% end %}